html,
body {
  height: 100%;
  background-color: var(--bs-dark);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.block_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93%;
}
#no-script {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width:70%;
}
.darkmode-toggle {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.login-card {
  background-color: var(--bs-tertiary-bg);
}
.darkmode-toggle {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.invalid-feedback {
  display: block;
}
@media (max-width: 576px) {
  .login-card {
    max-width: 90%;
    padding: 1.5rem;
    border: none;
    box-shadow: none !important;
    background: rgba(0,0,0,0);
    box-shadow: none;
  }
  .login-card h3 {
    color: #fff !important;
  }
  .login-card .bi {
    color: #fff !important;
  }
  .login-card a {
    color: #fff !important;
  }
  .login-card .btn-outline-secondary {
    
  }
  .login-card button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  [data-bs-theme="dark"] .login-card .dropdown-item {
    color: #fff !important;
  }
  .login-card .dropdown-item {
    color: #141313 !important;
  }
}
