body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  width: 75%;
}
.footer {
  width: 100%;
  text-align: left;
  padding: 10px 0;
}
.footer .container {
  width: 75%;
  margin: auto;
}
.doubbleDivContainer {
  display: flex;
  justify-content: space-between; /* Verteilt die Elemente */
  align-items: center; /* Zentriert vertikal */
  width: 100%;
}
.qr-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.actions-column {
  white-space: nowrap; /* Verhindert Zeilenumbrüche in der Aktionen-Spalte */
  width: 1%; /* Hält die Spalte so klein wie möglich */
}
.nav-link {
  color: var(--bs-light);
}

.text-indigo {
  color: var(--bs-indigo);
}

.text-cyan {
  color: var(--bs-cyan);
}

.text-teal {
  color: var(--bs-teal);
}

/* style for mobile offcanvas menu */
.offcanvas {
  max-width:70% !important;
}
.offcanvas-body ul {
  border:none !important;
}

.offcanvas-body .nav-link.active {
  color: var(--bs-primary) !important;
}

[data-bs-theme="dark"] .offcanvas-body .nav-link {
  color: #ddd !important;
}
[data-bs-theme="dark"] .offcanvas-body .nav-link.active {
  color: var(--bs-primary) !important;
}

/* Darkmode Fix für Navbar & Footer */
[data-bs-theme="dark"] .navbar {
  background-color: var(--bs-dark) !important;
}
[data-bs-theme="dark"] .footer {
  background-color: var(--bs-dark) !important;
  color: #ddd;
}

/* darkomde fix für toasts */
[data-bs-theme="dark"] .toast-header.bg-warning {
  background-color: var(--bs-warning-border-subtle) !important;
}
[data-bs-theme="dark"] .toast-header.bg-info {
  background-color: var(--bs-info-border-subtle) !important;
}
[data-bs-theme="dark"] .toast-header.bg-success {
  background-color: var(--bs-success-border-subtle) !important;
}
[data-bs-theme="dark"] .toast-header.bg-danger {
  background-color: var(--bs-danger-border-subtle) !important;
}

#modal-backup-codes-display {
  border: 1px solid #dee2e6; 
  border-radius: 4px; 
  font-family: 'Courier New', monospace; 
  font-size: 14px; 
  max-height: 300px; 
  overflow-y: auto;
}

#loadingSpinner {
  display: none; text-align: center;
}

#phpInfoFrame {
  width:100%;height:70vh;border:none;
}

#ip-whitelist {
  font-size: 0.9rem;
}
.usersBackupTh {
  min-width:50px !important;text-align:center;
}

.privacyCard {
  max-width: 600px; width: 100%;
}

.twofacard {
  width: 100%; max-width: 400px;
}

#twofaLangSel {
  display:flex; flex-direction:column; justify-content:center; align-items:center; gap:5;
}


/* util classes */
.display-none {
  display:none;
}
.flex-container {
  flex:1;
}
.bi-helper {
  margin-right:15px;
  margin-left:15px;
}
.no-border {
  border:none !important;
}
.font4rem {
  font-size: 4rem;
}
.width215 {
  width:215px;
}
.width200 {
  width:200px;
}
.width80 {
  width:80px;
}
.width90 {
  width:90px;
}
.width0 {
  width: 0%;
}
.height20 {
  height:20px;
}
.height8px {
  height: 8px;;
}
.minHeight80vh {
  min-height: 80vh;
}
.maxHeight400 {
  max-height: 400px;
}
.padding-top15 {
  padding-top:15px;
}
.padding10 {
  padding:10px;
}
.marginr-10 {
  margin-right: 10px;
}
.width60percent {
  width: 60%;
}
.purple-bg {
  background-color: var(--ds-background-accent-purple-bolder);
}
.teal-bg {
  background-color: var(--ds-background-accent-teal-bolder);
}
.magenta-bg {
  background-color: var(--ds-background-accent-magenta-bolder);
}
.word-break {
  word-break: break-all;
}
.flex-shrink0 {
  flex-shrink: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.muted-text {
  color:var(--bs-secondary-text);
}

/* alert icons */
svg.bi {
  width: 16px;
  height: 16px;
}

.user-select-checkbox:checked {
    background-color: #007bff;
    border-color: #007bff;
}

tr.selected {
    background-color: rgba(13, 110, 253, 0.1);
}

#bulkToolbar {
    transition: all 0.3s ease;
}

#bulkActionsContainer .dropdown-item {
  background-color: transparent !important;
}

/* mobilen ansicht */
@media (max-width: 767px) {
  .search-container {
    min-width: 100%;
    max-width: 100%;
  }
  
  .desktop-pager-label {
    display: none;
  }
  .footer .container {
    width: 95%;
  }
  .container {
    width: 95%;
  }
  .desktop-table {
    display: none;
  }
  .desktop-pager-label {
    display: none;
  }
  .desktop-pager-summary {
    display: none;
  }
  .qr-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .doubbleDivContainer .divLeft {
    display: none;
  }
  .usrPageSize {
    display:none !important;
  }
  .offcanvas .nav-link {
    color:#5a6268 !important;
  }

  .modal.fade.flyout .modal-content {
    margin: 0 auto !important;
    bottom: 0 !important;
    position: absolute !important;
    width: 100% !important;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    border-radius: 0 !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }

  .modal.fade.flyout.show .modal-content {
    transform: translateY(0) !important;
  }
  .modal-dialog {
    margin: 0 auto !important;
    bottom: 0 !important;
    position: absolute !important;
    width: 100% !important;
    height: auto !important;
    z-index: 1055; /* Sicherstellen, dass es über anderen Elementen liegt */
  }
  .toast.flyout {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    z-index: 1055; /* Sicherstellen, dass es über anderen Elementen liegt */
  }

  .toast.flyout.show {
    transform: translateY(0) !important;
  }

  .offcanvas .mobile-submenu { margin-left: 20px; margin-top: 3px; margin-bottom: 6px; }
  .offcanvas .mobile-submenu .nav-link { padding-left: 0; }
  .collapse.show + .bi-caret-down-fill { transform: rotate(180deg); }

}
