<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Password reset request</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 20px auto;
            background-color: #333;
            color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
        .header {
            background-color: #ff0055;
            color: white;
            padding: 20px;
            text-align: center;
        }
        .content {
            padding: 20px;
            line-height: 1.6;
        }
        .footer {
            background-color: #ff0055;
            padding: 10px;
            text-align: center;
            font-size: 12px;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Password reset request</h1>
        </div>
        <div class="content">
            <h2>Hallo {$name}!</h2>
            <p>You've requested to reset your password. Please use the button below to finish your password reset.</p>
            <p>&nbsp;</p>
            <p><a href="http://localhost:8000/reset-password/{$token}" style="display:inline-block; padding:10px 15px; color:white; background-color:#ff0055; text-decoration:none; border-radius:5px;">Reset my password..</a></p>
            <br><br>
            <p>
            <b style='color:#ff0055;font-weight:bold;'>NOTE:</b>&nbsp;If you've not initiated this password reset request. Please do nothing and contact your administrator as soon as possible!
            </p>
        </div>
        <div class="footer">
            <p>&copy; 2025 SecStore. Alle Rechte vorbehalten.</p>
        </div>
    </div>
</body>
</html>
