{extends '_mainLayout.latte'}

{block content}
    <!-- Main Content -->
    <div class="container py-4" style="flex:1">        
        <h1>Willkommen im Dashboard</h1>
        <p>Hier steht dein Content...</p>  
    </div>
{/block}